<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Adjective</th>
      <th>Frequency</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>pandemic</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <td>hard</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <td>good</td>
      <td>4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>online</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>new</td>
      <td>4</td>
    </tr>
  </tbody>
</table>