<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Text</th>
      <th>Tokens</th>
      <th>Question Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>It was difficult for me because I had to go to someone with internet access to use cellphone to upload my activities and attend class. I decided to stay at my sister's house in the city to get an online class.</td>
      <td>[difficult, go, someone, internet, access, use, cellphone, upload, activities, attend, class, decided, stay, sister, house, city, get, online, class]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>average</td>
      <td>[average]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Using the distance learning technology is really hard for me since the internet connectivity here in our place is poor.</td>
      <td>[Using, distance, learning, technology, really, hard, since, internet, connectivity, place, poor]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Honestly speaking, as part of the CS class. In terms of utilizing all available equipment I have in order to cope to the new mode of learning, I can say that it's in the level of easy to moderate. Some equipments I have are already known or familiar to me that's why there's no problem to handle it. But in terms of internet connectivity there are lots of struggles and most of the time difficulty in sustaining good access internet before you can attend to any particular classes.</td>
      <td>[Honestly, speaking, part, CS, class, terms, utilizing, available, equipment, order, cope, new, mode, learning, say, level, easy, moderate, equipments, already, known, familiar, problem, handle, terms, internet, connectivity, lots, struggles, time, difficulty, sustaining, good, access, internet, attend, particular, classes]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>I think it is difficult to adopt in distance learning specially to those who don't have gadgets. Internet connection is also a factor that makes distance learning difficult.</td>
      <td>[think, difficult, adopt, distance, learning, specially, gadgets, Internet, connection, also, factor, makes, distance, learning, difficult]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Its quite diff. For me because of slow internet conn.</td>
      <td>[quite, diff, slow, internet, conn]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Using distance learning technology is easy for me since everyday we are using it so its not new to me to use the said technology, the problem sometimes is my poor internet connection.</td>
      <td>[Using, distance, learning, technology, easy, since, everyday, using, new, use, said, technology, problem, sometimes, poor, internet, connection]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>In the scale of 10, I would choose 9. because  I am using, PC, laptop, mobile phones in attending online meeting clasess and I have a source of wifi in internet connection thats why I am not encountering any problems with this diatance learning technology.</td>
      <td>[scale, 10, would, choose, using, PC, laptop, mobile, phones, attending, online, meeting, clasess, source, wifi, internet, connection, thats, encountering, problems, diatance, learning, technology]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Quite difficult since it's was challenging to learn all by myself.</td>
      <td>[Quite, difficult, since, challenging, learn]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Easy</td>
      <td>[Easy]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Very difficult</td>
      <td>[difficult]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>As a student i have difficulties such as unstable internet connection, a space to learn in, and when the my laptop and cellphone are not functioning properly</td>
      <td>[student, difficulties, unstable, internet, connection, space, learn, laptop, cellphone, functioning, properly]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>In a scale of 10 it would be 8</td>
      <td>[scale, 10, would, 8]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Moderately hard</td>
      <td>[Moderately, hard]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>14</th>
      <td>It was difficult for me, since I was in area with poor internet connection.</td>
      <td>[difficult, since, area, poor, internet, connection]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <td>It is simple for me to use technology since I am surrounded by older individuals who guide me in the right use of technology.</td>
      <td>[simple, use, technology, since, surrounded, older, individuals, guide, right, use, technology]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>16</th>
      <td>It's very difficult due to internet connectivity and the lackness of some materials</td>
      <td>[difficult, due, internet, connectivity, lackness, materials]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>hard</td>
      <td>[hard]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Its difficult at first but as time passes by it becomes easier to use distance learning technologies</td>
      <td>[difficult, first, time, passes, becomes, easier, use, distance, learning, technologies]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Difficult for some reasons that we are having a hard time catching up our lessons because of the low Internet Connection and  we are always  experiencing lack of electricity in our Province.</td>
      <td>[Difficult, reasons, hard, time, catching, lessons, low, Internet, Connection, always, experiencing, lack, electricity, Province]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Intermittent Internet connection is the one difficult for browsing, search then most of all can have smartphones but not all can provide a laptop/pc.</td>
      <td>[Intermittent, Internet, connection, one, difficult, browsing, search, smartphones, provide]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>21</th>
      <td>I know at least the basics</td>
      <td>[know, least, basics]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>22</th>
      <td>not much easy</td>
      <td>[much, easy]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Lackness and vicinity area</td>
      <td>[Lackness, vicinity, area]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>For me, it's easy to use and distance learning technology.  however, internet connection still affects the performance of these tools such as video calls, and e-classroom.</td>
      <td>[easy, use, distance, learning, technology, however, internet, connection, still, affects, performance, tools, video, calls]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>difficult, given that i didn't have a proper device to use</td>
      <td>[difficult, given, proper, device, use]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Sometimes hard but easy in some ways</td>
      <td>[Sometimes, hard, easy, ways]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Easy accessible yet there are complications when it comes to learning for they are not much inclined now to other practical skills mostly technological skills.</td>
      <td>[Easy, accessible, yet, complications, comes, learning, much, inclined, practical, skills, mostly, technological, skills]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>28</th>
      <td>I find it easy to use the distance/online learning technology</td>
      <td>[find, easy, use, learning, technology]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>29</th>
      <td>It was easy for me to use  Computer and video call</td>
      <td>[easy, use, Computer, video, call]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30</th>
      <td>It's difficult for me sometimes, distance learning technology like video call because of the internet connection. Sometimes I failed to attend my class because of low internet connection, I wouldn't be able use this without good internet access.</td>
      <td>[difficult, sometimes, distance, learning, technology, like, video, call, internet, connection, Sometimes, failed, attend, class, low, internet, connection, would, able, use, without, good, internet, access]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Using several distance learning technologies, in my opinion, is not difficult, especially considering that we are in the digital age. As an elementary school student, I am familiar with computers and other remote learning technology, since we are trained to create various PowerPoint presentations using computers and other digital tools since 1st year, therefore I can claim that utilizing and operating those learning devices is not that difficult.</td>
      <td>[Using, several, distance, learning, technologies, opinion, difficult, especially, considering, digital, age, elementary, school, student, familiar, computers, remote, learning, technology, since, trained, create, various, PowerPoint, presentations, using, computers, digital, tools, since, 1st, year, therefore, claim, utilizing, operating, learning, devices, difficult]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>32</th>
      <td>It is difficult because the internet connection in our location is very poor, there are times that I can't join virtual classes</td>
      <td>[difficult, internet, connection, location, poor, times, ca, join, virtual, classes]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>33</th>
      <td>It is not difficult for me to use distance learning technology since I am comfortable with technology and am familiar with how to operate cellphones, laptops, and other electronic devices.</td>
      <td>[difficult, use, distance, learning, technology, since, comfortable, technology, familiar, operate, cellphones, laptops, electronic, devices]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>34</th>
      <td>It's fine</td>
      <td>[fine]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>35</th>
      <td>I find it easy to use computers, tablet and phone for distance learning</td>
      <td>[find, easy, use, computers, tablet, phone, distance, learning]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>36</th>
      <td>For me, it's not that hard to use the distance learning technology that much, the much harder part on using it was the enternet connection and power supplies.</td>
      <td>[hard, use, distance, learning, technology, much, much, harder, part, using, enternet, connection, power, supplies]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>37</th>
      <td>The situation was not fair. Not all students doesn't have gadgets to use in the new learning modality. And not all areas are lucky enough to have a good signal strength.</td>
      <td>[situation, fair, students, gadgets, use, new, learning, modality, areas, lucky, enough, good, signal, strength]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Average</td>
      <td>[Average]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>39</th>
      <td>For me it's easy to use the distance learning technology.</td>
      <td>[easy, use, distance, learning, technology]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>40</th>
      <td>It was kind of good in some ways, like we still continue to study in the midst of a pandemic because of online class.</td>
      <td>[kind, good, ways, like, still, continue, study, midst, pandemic, online, class]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Some instructors are comfortable with online teaching, while some struggle with using online platforms for teaching because of unfamiliarity, weak internet connection, etc.</td>
      <td>[instructors, comfortable, online, teaching, struggle, using, online, platforms, teaching, unfamiliarity, weak, internet, connection, etc]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Some instructors are giving considerations since they know how it is hard for us to adjust in this new normal class.</td>
      <td>[instructors, giving, considerations, since, know, hard, us, adjust, new, normal, class]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>43</th>
      <td>I can't tell generally all instructors good, I'm very particular how they instruct and deliver enough or sufficient learning to all students they handling during this current pandemic time but I can say, some are giving their best and some are not. Some of the instructors balances synchronous and asynchronous classes and some practicing "no show" classes.</td>
      <td>[ca, tell, generally, instructors, good, particular, instruct, deliver, enough, sufficient, learning, students, handling, current, pandemic, time, say, giving, best, instructors, balances, synchronous, asynchronous, classes, practicing, show, classes]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Technology is a great help to online classes. The students and teachers can communicate easily. But sometimes the teachers just give activities without teaching, that makes the online learning difficult.</td>
      <td>[Technology, great, help, online, classes, students, teachers, communicate, easily, sometimes, teachers, give, activities, without, teaching, makes, online, learning, difficult]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>45</th>
      <td>It challenging for them to teach i the mode of online, we shoud understand them durig their diff</td>
      <td>[challenging, teach, mode, online, shoud, understand, durig, diff]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>46</th>
      <td>For me, the new teaching methodology helps students to continuesly learn even in a distance due to COVID-19 pandemic. But it has also it's negative effect to the students such as stress and pressure that can cause  a health problem.</td>
      <td>[new, teaching, methodology, helps, students, continuesly, learn, even, distance, due, pandemic, also, negative, effect, students, stress, pressure, cause, health, problem]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Its very practical and considerate since not all are privelage when it comes to their status in life and even to those places thats hard to connect to internet connection.</td>
      <td>[practical, considerate, since, privelage, comes, status, life, even, places, thats, hard, connect, internet, connection]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>48</th>
      <td>All of them exert effort just to provide us learning materials to learn from each of their subject. But there are times that I find hard to understand since they can't sometimes provide enough examples or further instructions for us to understand the whole thing. Moreover, the poor internet connection also added from one of my difficulty to understand them.</td>
      <td>[exert, effort, provide, us, learning, materials, learn, subject, times, find, hard, understand, since, ca, sometimes, provide, enough, examples, instructions, us, understand, whole, thing, Moreover, poor, internet, connection, also, added, one, difficulty, understand]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Flexible but can't understand easily</td>
      <td>[Flexible, ca, understand, easily]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Online teaching during this time is not easy. There are lots of problems we encounter in learning</td>
      <td>[Online, teaching, time, easy, lots, problems, encounter, learning]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Most of the srategies and method of teaching are applicable and useful</td>
      <td>[srategies, method, teaching, applicable, useful]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Professor uses reading materials and related videos I'm an auditory learner so this set up is hard but bearable.</td>
      <td>[Professor, uses, reading, materials, related, videos, auditory, learner, set, hard, bearable]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>53</th>
      <td>I can say that some profs are doing their jobs very well given the circumstances of having a pandemic.</td>
      <td>[say, profs, jobs, well, given, circumstances, pandemic]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>54</th>
      <td>For me it was depening on which instructor will handle our subject. But all in all it was good.</td>
      <td>[depening, instructor, handle, subject, good]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>55</th>
      <td>I have no issue, as long as the instructor is willing to teach the students that's fine with me.</td>
      <td>[issue, long, instructor, willing, teach, students, fine]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>56</th>
      <td>They really should be more considerate to the students, because not everyone has the same time of working</td>
      <td>[really, considerate, students, everyone, time, working]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>57</th>
      <td>hard to copeup with the lessons because of no close contact with the professors or instructors</td>
      <td>[hard, copeup, lessons, close, contact, professors, instructors]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Since we're on the distance learning many teachers think of ways on how to effectively teach students using technology by using different platforms in order to teach even if it's synchronous and asynchronous class, and to connect to the us students online and offline.</td>
      <td>[Since, distance, learning, many, teachers, think, ways, effectively, teach, students, using, technology, using, different, platforms, order, teach, even, synchronous, asynchronous, class, connect, us, students, online, offline]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>59</th>
      <td>They are not active in social media.Both Instructor and the School.</td>
      <td>[active, social, Instructor, School]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Very challenging and lacking of knowledge its better to have the old traditional face to face learning that u can actually learn more.</td>
      <td>[challenging, lacking, knowledge, better, old, traditional, face, face, learning, u, actually, learn]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Its kind of not effective</td>
      <td>[kind, effective]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>62</th>
      <td>i think it's okay but other profs r not attending ol class, they mostly do asynchronous meetings. for me, i prefer synchronous meetings.</td>
      <td>[think, okay, profs, r, attending, ol, class, mostly, asynchronous, meetings, prefer, synchronous, meetings]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Goal to present the need and address some issues</td>
      <td>[Goal, present, need, address, issues]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>64</th>
      <td>The teachers are flexible and considerate since each subject has only one synchronous meeting per week.</td>
      <td>[teachers, flexible, considerate, since, subject, one, synchronous, meeting, per, week]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>65</th>
      <td>it was alright..</td>
      <td>[alright]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>66</th>
      <td>It is some what hard to understand because you are forced to understand it yourself without being properly teached to you and al so you dont have the proper communications with others to have some other ideas.</td>
      <td>[hard, understand, forced, understand, without, properly, teached, al, dont, proper, communications, others, ideas]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>67</th>
      <td>It is easy access but not that effective. Other lessons can't be understood properly especially when there is a problem with internet connection.</td>
      <td>[easy, access, effective, lessons, ca, understood, properly, especially, problem, internet, connection]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>68</th>
      <td>The teaching methodology is flexible enough for me to adjust, learn and comply</td>
      <td>[teaching, methodology, flexible, enough, adjust, learn, comply]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>69</th>
      <td>The sudden change of teaching method during COVID-19 is difficult due to some circumstances like the poor internet connection which hinders the student to study  well and learn in this type of teaching method.</td>
      <td>[sudden, change, teaching, method, difficult, due, circumstances, like, poor, internet, connection, hinders, student, study, well, learn, type, teaching, method]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>70</th>
      <td>In my own opinion, it's sometimes benefited for me and sometimes it gives me struggling in my study. But they did their part just to give us good education. It depends upon us a student on how we are going to pass the subject.</td>
      <td>[opinion, sometimes, benefited, sometimes, gives, struggling, study, part, give, us, good, education, depends, upon, us, student, going, pass, subject]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>71</th>
      <td>In our case during the pandemic, the instructors' and school's online teaching methodology is quite effective. Some of the professors conduct live online classes, while others deliver pre-recorded video lectures. Most of our instructors/professors would allow us to record our screens or create videos utilizing various tools in order to complete  our tasks. We were able to complete our tasks, such as video presentations, reports, demonstrations and other assignments, without feeling rushed, while still learning at our own pace.</td>
      <td>[case, pandemic, instructors, school, online, teaching, methodology, quite, effective, professors, conduct, live, online, classes, others, deliver, video, lectures, would, allow, us, record, screens, create, videos, utilizing, various, tools, order, complete, tasks, able, complete, tasks, video, presentations, reports, demonstrations, assignments, without, feeling, rushed, still, learning, pace]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>72</th>
      <td>I think it is not effective and less learning compared to face to face classes.</td>
      <td>[think, effective, less, learning, compared, face, face, classes]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>73</th>
      <td>My opinion on the instructor's and school's online teaching style amid the Covid-19 pandemic is that students are unwilling to learn because of the destruction in their environment, and most students are now just doing their activities to avoid failing their subjects, but they are not learning.</td>
      <td>[opinion, instructor, school, online, teaching, style, amid, pandemic, students, unwilling, learn, destruction, environment, students, activities, avoid, failing, subjects, learning]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>74</th>
      <td>It's fine</td>
      <td>[fine]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>75</th>
      <td>My opinion is mixed because online teaching methodology opens up new oppotunity for learning yet it may give disadvantage for those students who do not have access for technology and some may feel lonely because of isolated learning environment</td>
      <td>[opinion, mixed, online, teaching, methodology, opens, new, oppotunity, learning, yet, may, give, disadvantage, students, access, technology, may, feel, lonely, isolated, learning, environment]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>76</th>
      <td>In my opinion, in every instructor has a different methods that they apply on teaching and I appreciated there understanding and giving a consideration sometimes on late submission.</td>
      <td>[opinion, every, instructor, different, methods, apply, teaching, appreciated, understanding, giving, consideration, sometimes, late, submission]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Both students and instructors experienced difficulties on internet connectivity to adapt into the new learning modality.</td>
      <td>[students, instructors, experienced, difficulties, internet, connectivity, adapt, new, learning, modality]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>78</th>
      <td>It's kinda hard or difficult to understand</td>
      <td>[kinda, hard, difficult, understand]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>79</th>
      <td>For me, it's also commendable that they continue their study despite the fact that it's a pandemic, especially in light of the fact that other students are having problems owing to a lack of internet access.</td>
      <td>[also, commendable, continue, study, despite, fact, pandemic, especially, light, fact, students, problems, owing, lack, internet, access]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>80</th>
      <td>It was difficult for me because I was accustomed in f2f class and compared to learning in a physical classroom online classes seem more difficult because you don’t get the hands-on learning like you do in a physical classroom.</td>
      <td>[difficult, accustomed, f2f, class, compared, learning, physical, classroom, online, classes, seem, difficult, get, learning, like, physical, classroom]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>81</th>
      <td>Most of the time, I struggle and lose motivation when learning in this kind of set-up. But when the instructor is very engaging when teaching and makes the topic interesting, it helps me absorb the discussion easily.</td>
      <td>[time, struggle, lose, motivation, learning, kind, instructor, engaging, teaching, makes, topic, interesting, helps, absorb, discussion, easily]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>82</th>
      <td>Learning from this online-learning set-up is quite difficult because there are some instances that I can't attend the virtual meeting but thanks to the uploaded modules or recorded videos although we can't join the meeting, we can still cope up to review and understand the lessons being discussed by our professors.</td>
      <td>[Learning, quite, difficult, instances, ca, attend, virtual, meeting, thanks, uploaded, modules, recorded, videos, although, ca, join, meeting, still, cope, review, understand, lessons, discussed, professors]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Very difficult, not all the time I have data to connect in the internet, there are instances that I don't attend scheduled class because of personal emergencies and missed all lessons discussed for that day.</td>
      <td>[difficult, time, data, connect, internet, instances, attend, scheduled, class, personal, emergencies, missed, lessons, discussed, day]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>84</th>
      <td>It is difficult for me to focus in this online-learning because I have duties at home that I need to do. I prefer face-to-face classes because I learn a lot when the teacher discusses our lessons. I find it difficult to study because of these distraction.</td>
      <td>[difficult, focus, duties, home, need, prefer, classes, learn, lot, teacher, discusses, lessons, find, difficult, study, distraction]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>85</th>
      <td>Difficult bc of the interference d barrier</td>
      <td>[Difficult, bc, interference, barrier]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>86</th>
      <td>For me, it is both easy and difficult to learn in online-learning set-up. Difficult because other lessons and topics were complicated, not all students afford to have gadgets that will be used in online learning, the poor internet connection and ofcourse the balancing of time to study and in doing household chores. It is easy since I can submit my outputs in my most convenient time.</td>
      <td>[easy, difficult, learn, Difficult, lessons, topics, complicated, students, afford, gadgets, used, online, learning, poor, internet, connection, ofcourse, balancing, time, study, household, chores, easy, since, submit, outputs, convenient, time]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>87</th>
      <td>In the scale of 10 again I would choose 6, because honestly I dont really understand the whole subject, it looks like in the end of the online meetings we are able to self study just to further understand a certain subject. Unlike in face to face classess I totally understand the subject.</td>
      <td>[scale, 10, would, choose, 6, honestly, dont, really, understand, whole, subject, looks, like, end, online, meetings, able, self, study, understand, certain, subject, Unlike, face, face, classess, totally, understand, subject]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>88</th>
      <td>Out of 10 , I must say that 7 from it is the range of my learning from this setup. Though I have a lot of time to teach myself with some stuff, since when we have a face to face before I got pressured whenever we have an activity to perform but with this kind of set up I am confident to consume so much time to learn things that I find hard to understand unlike face to face before.</td>
      <td>[10, must, say, 7, range, learning, setup, Though, lot, time, teach, stuff, since, face, face, got, pressured, whenever, activity, perform, kind, set, confident, consume, much, time, learn, things, find, hard, understand, unlike, face, face]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>89</th>
      <td>Easy</td>
      <td>[Easy]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>90</th>
      <td>It is difficult for me to learn from this learning set up. It is hard to learn in not the normal process of learning.</td>
      <td>[difficult, learn, learning, set, hard, learn, normal, process, learning]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>91</th>
      <td>When anxiety attacking me at the same time many activities/ assignments, household chores and so on  but  the important is I'm trying my best to keep going and in order to survive and accomplish all the activities/ requirements needeed despite the chaos or difficulties nowadays and in this online learning set up</td>
      <td>[anxiety, attacking, time, many, assignments, household, chores, important, trying, best, keep, going, order, survive, accomplish, requirements, needeed, despite, chaos, difficulties, nowadays, online, learning, set]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>92</th>
      <td>online learning is hard/ difficult for student who's not financially capable but at the same time it also teach us to be responsible in doing tasks needed to be done.</td>
      <td>[online, learning, difficult, student, financially, capable, time, also, teach, us, responsible, tasks, needed, done]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Moderately hard</td>
      <td>[Moderately, hard]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>94</th>
      <td>It was difficult, like I said, getting strong or pair internet connection in my area is very hard.</td>
      <td>[difficult, like, said, getting, strong, pair, internet, connection, area, hard]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>95</th>
      <td>It's fine for me to have an online class, but having one every day drains the students' energy, and many students suffer from a lack of productivity as a result. Because many students use a web browser to find answers rather than using their minds, all of the activities provided by the teachers are useless.</td>
      <td>[fine, online, class, one, every, day, drains, students, energy, many, students, suffer, lack, productivity, result, many, students, use, web, browser, find, answers, rather, using, minds, activities, provided, teachers, useless]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>96</th>
      <td>It's really that easy to be honest especially when u have bad internet connection and to have an instructor who does not teach very clearly</td>
      <td>[really, easy, honest, especially, u, bad, internet, connection, instructor, teach, clearly]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>97</th>
      <td>hard</td>
      <td>[hard]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>98</th>
      <td>Its hard in a way that there are things or lessons that needs to be taught in f2f since we're on the pandemic that's why it's difficult in some ways.</td>
      <td>[hard, way, things, lessons, needs, taught, f2f, since, pandemic, difficult, ways]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>99</th>
      <td>It is really difficult because I really don't understand what our Instructors teach.</td>
      <td>[really, difficult, really, understand, Instructors, teach]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>100</th>
      <td>Easy because you have the google but difficult on the other hand because you can't really learn at all and apply it to yourself at the same time. Toxic learning environment is another one issue here. So its better to go back in face to face interaction wherein you can focus well on your expertise because you are in the academic community which is the school/college/university.</td>
      <td>[Easy, google, difficult, hand, ca, really, learn, apply, time, Toxic, learning, environment, another, one, issue, better, go, back, face, face, interaction, wherein, focus, well, expertise, academic, community]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Hard</td>
      <td>[Hard]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>102</th>
      <td>not much difficult but i alwsys got distracted when i try to focus. maybe i am the problem, not the online classes.</td>
      <td>[much, difficult, alwsys, got, distracted, try, focus, maybe, problem, online, classes]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>103</th>
      <td>It's difficult to cope up with the subject</td>
      <td>[difficult, cope, subject]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>104</th>
      <td>It is difficult to learn during online meetings because the home is not suitable to be a learning environment.  The internet connection is also poor.</td>
      <td>[difficult, learn, online, meetings, home, suitable, learning, environment, internet, connection, also, poor]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>105</th>
      <td>difficult, given that i didn't have a proper device to use</td>
      <td>[difficult, given, proper, device, use]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>106</th>
      <td>Out of 10 I would say 6</td>
      <td>[10, would, say, 6]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>107</th>
      <td>It is difficult due to the lack of signal or internet connection. Easy in a sense that you can do the studies whenever you are</td>
      <td>[difficult, due, lack, signal, internet, connection, Easy, sense, studies, whenever]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>108</th>
      <td>Difficult because of the constant distractions around me</td>
      <td>[Difficult, constant, distractions, around]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>109</th>
      <td>It was difficult for me because I live in an area where internet connection is very poor and sometimes  cannot join google meet and submits my outputs late.</td>
      <td>[difficult, live, area, internet, connection, poor, sometimes, join, google, meet, submits, outputs, late]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>110</th>
      <td>I benefit a lot but sometimes it's not enough knowledge that I gained.</td>
      <td>[benefit, lot, sometimes, enough, knowledge, gained]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>111</th>
      <td>I would say that it's not that easy for me to adjust and learn from this online-learning-set-up. As an elementary education student, the major challenge I've encountered so far with this online learning setup is the adaptability struggle, where switching from traditional classroom and face-to-face learning to computer-based learning in a virtual classroom completely changes the learning experiences for us, especially now that we're already in our fourth year and need hands-on experiences with elementary students. In addition to that is the technological challenges or the internet connection, several of us in our class do not have access to a great or stable internet connection, that's why sometimes it's hard for us to catch up lessonsduring virtual classes.</td>
      <td>[would, say, easy, adjust, learn, elementary, education, student, major, challenge, encountered, far, online, learning, setup, adaptability, struggle, switching, traditional, classroom, learning, learning, virtual, classroom, completely, changes, learning, experiences, us, especially, already, fourth, year, need, experiences, elementary, students, addition, technological, challenges, internet, connection, several, us, class, access, great, stable, internet, connection, sometimes, hard, us, catch, lessonsduring, virtual, classes]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>112</th>
      <td>It is difficult because I have poor internet connection, lacking of gadgets like laptop and noisy environment</td>
      <td>[difficult, poor, internet, connection, lacking, gadgets, like, laptop, noisy, environment]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>113</th>
      <td>I'm finding it challenging to learn from this online learning environment because I'm not used to it and there are a lot of distractions in my environment.</td>
      <td>[finding, challenging, learn, online, learning, environment, used, lot, distractions, environment]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>114</th>
      <td>Difficult in terms of lack of information</td>
      <td>[Difficult, terms, lack, information]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>115</th>
      <td>Distance learning is difficult for me because of internet connectivity issue and I find myself mentally drained because of isolated learning environment</td>
      <td>[Distance, learning, difficult, internet, connectivity, issue, find, mentally, drained, isolated, learning, environment]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>116</th>
      <td>It's difficult for me to learn specially I don't have a stable internet connection.</td>
      <td>[difficult, learn, specially, stable, internet, connection]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>117</th>
      <td>For me, the new learning modality was very challenging. You can't easily catch-up what you didn't understand because sometimes we experienced brownouts and weak signal.</td>
      <td>[new, learning, modality, challenging, ca, easily, understand, sometimes, experienced, brownouts, weak, signal]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>118</th>
      <td>Average</td>
      <td>[Average]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>119</th>
      <td>It's difficult because we have to study independently.</td>
      <td>[difficult, study, independently]</td>
      <td>3</td>
    </tr>
  </tbody>
</table>